.feedback {
  display: flex;
  justify-content: stretch;
  flex-grow: 1;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2vw;

  &__body {
    width: 100%;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    text-align: center;
    margin-bottom: calc(var(--vh, 1vh) * 5);
  }

  &__field + &__field {
    margin-top: auto;
    padding-top: 4vh;
  }

  &__form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__label {
    font-size: 1.125rem;
    line-height: 1.1666em;
    text-align: center;
    color: $grey;
    font-weight: bold;
    text-align: center;

    display: block;
    &\--range {
      margin-bottom: calc(var(--vh, 1vh) * 4.3);
    }
    &\--comments {
      margin-bottom: calc(var(--vh, 1vh) * 3.5);
    }
  }
  &__form-content {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: calc(var(--vh, 1vh) * 8.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 74.8%;
    // flex-grow: 1;
    // height: 100%;
  }
  &__submit {
    color: white;

    font-weight: bold;
    font-size: 1.375rem;
    line-height: 2.72em;
    background-color: $green;
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 0.875rem;
    line-height: 1.5rem;
    &::-webkit-input-placeholder {
      /* Edge */
      color: rgba(189, 189, 189, 0.71);
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(189, 189, 189, 0.71);
    }

    &::placeholder {
      color: rgba(189, 189, 189, 0.71);
    }
  }
  @media (max-height: $desktop) and (orientation: landscape) {
    &__label\--comments {
      margin-bottom: calc(var(--vh, 1vh) * 2);
    }
    &__submit {
      height: 1.6em;
      line-height: 1.6em;
    }
  }
}
