.header {
  padding-bottom: calc(var(--vh, 1vh) * 8.25);
  &__top {
    height: calc(var(--vh, 1vh) * 12.9);
    padding-top: calc(var(--vh, 1vh) * 3.44);
    background-color: $green;
    position: relative;
  }

  &__logo {
    position: absolute;
    background-image: url(../images/Nimpha-icon.png);
    background-color: white;
    background-repeat: no-repeat;
    height: calc(var(--vh, 1vh) * 11.7);
    width: calc(var(--vh, 1vh) * 11.7);
    border-radius: 50%;
    background-size: 45%;
    background-position: top 20% center;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: calc(var(--vh, 1vh) * -3.8);

    &:before {
      position: absolute;
      content: "";
      background-color: transparent;
      height: calc(var(--vh, 1vh) * 13.1);
      width: calc(var(--vh, 1vh) * 13.1);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: calc(var(--vh, 1vh) * 0.2) white solid;
      border-radius: 50%;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.1666em;
    color: white;
    text-align: center;
  }
  @media (max-height: $desktop) and (orientation: landscape) {
    &__top {
      padding-top: calc(var(--vh, 1vh) * 2);
    }
  }
}
