.header {
  padding-bottom: calc(var(--vh, 1vh) * 8.25);
  &__top {
    height: calc(var(--vh, 1vh) * 12.9);
    padding-top: calc(var(--vh, 1vh) * 3.44);
    background-color: $green;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      background-image: url(../images/icon.png);
      background-repeat: no-repeat;
      background-position: center;
      height: calc(var(--vh, 1vh) * 13);
      width: calc(var(--vh, 1vh) * 13);
      border-radius: 50%;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      margin-top: calc(var(--vh, 1vh) * -4.4);
    }
  }

  &__text {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.1666em;
    color: white;
    text-align: center;
  }
  @media (max-height: $desktop) and (orientation: landscape) {
    &__top {
      padding-top: calc(var(--vh, 1vh) * 2);
    }
  }
}
