.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  &__img {
    display: none;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__img\--success {
    width: 90%;
  }
  &\--success {
    .modal__img\--success {
      display: block;
    }
  }
  &\--failure {
    .modal__img\--failure {
      display: block;
    }
  }
  &__content {
    width: 85.3vw;
    height: 45.8vh;
    max-width: 500px;
    position: relative;
    padding-top: calc(var(--vh, 1vh) * 6.5);
    padding-bottom: calc(var(--vh, 1vh) * 6.5);
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__close {
    position: absolute;
    top: -23px;
    right: -13px;
    cursor: pointer;
  }
  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $green;
  }
}
